*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#wrapper{
    border-top: 3px solid  #000;
    margin: 1rem 0rem;
}

.wrapperleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.headleft h1{
    padding-left: 2rem;

}

.headright a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    padding-right: 2rem;
}

.wrapperright{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.centerimage{
    padding-top: 10rem;
    padding-left: 15rem;
}

.john{
    padding-top: 10rem;
    padding-right: 15rem;
}

.border{
    border: 1px solid;
    width: 40px;
}

.front p{
    padding-bottom: 1rem;
}

.hyper{
    padding: 1rem 1rem;
    border: 1px solid;
    position: relative;
    overflow: hidden;
}

.hyper a{
    text-decoration: none;
    color: #000;
    text-align: center;
    padding-left: 2rem;
    font-size: 20px;
}

.hyper a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #000;
    transition: all 1s ease;
    z-index: -1;
}

.hyper:hover a::before{
    left: 0;
} 

.hyper a:hover{
    color: #fff;
}

.hyper i{
    padding-right:0.8rem;;
}

.ibottom{
    padding: 5rem;
    padding-left: 38rem;
}

#service{
    background: url(/images/bg-1.jpg) no-repeat center scroll;
    height:1100px;
    width: 100%;
}

.servicehead{
    width: 90%;
    margin:  auto;
    padding: 3rem 0;
}

.serviceleft{
    padding: 2rem 0;
    color: #fff;
}

.serviceleft p{
    font-size: 25px;
}

.website{
    position: relative;
}

.border2{
    border: 1px solid;
    width: 40px;
}

.business{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: relative;
}
.business .company{
    width: 30%;
}
.business  .company h3, p {
    margin: 1rem 0;
    line-height: 30px;
    line-break: 10px;
    letter-spacing: 2px;
}

.company i{
    font-size: 25px;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid #fff;
}
.business .company::before{
    content: "";
    position: absolute;
    top: 2.7rem;
    left: 4.7rem;
    width: 256px;
    border-top: 2px solid #fff;
}

.business .company::after{
    content: "";
    position: absolute;
    top: 9.9rem;
    left: 17.3rem;
    width: 300px;
    border-top: 2px solid #fff;
    transform: rotate(50deg);

}

.business .maintenance{
    text-align: right;
    width: 30%;

}

.business .maintenance h3, p{
    line-height: 30px;
}

.maintenance i{
    font-size: 25px;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid #fff;
}

.business .maintenance::before{
    content: "";
    position: absolute;
    top: 2.5rem;
    right: 4.4rem;
    width: 256px;
    border-top: 2px solid #fff;
}

.business .maintenance::after{
    content: "";
    position: absolute;
    top: 10.6rem;
    right: 15.7rem;
    width: 300px;
    border-top: 2px solid #fff;
    transform: rotate(120deg);
}

.personal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: relative;
}

.personal .skill{
    width: 30%;
}

.personal .skill h3, p{
    margin: 1rem 0;
    line-height: 30px;
    line-break: 10px;
    letter-spacing: 2px;
}

.skill i{
    font-size: 25px;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid #fff;

}

.personal .skill::before{
    content: "";
    position: absolute;
    top: 2.5rem;
    left: 4.7rem;
    width: 256px;
    border-top: 2px solid #fff;
}

.personal .skill::after{
    content: "";
    position: absolute;
    bottom: 25.5rem;
    left: 16rem;
    width: 300px;
    border-top: 2px solid  #fff;
    transform: rotate(120deg);
}

.personal .ecommerce{
    width: 30%;
    text-align: right;
}

.personal .ecommerce h3, p{
    margin: 1rem 0;
}

.ecommerce i{
    font-size: 25px;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid #fff;
}

.personal .ecommerce::before{
    content: "";
    position: absolute;
    top: 5rem;
    right: 4.8rem;
    width: 256px;
    border-top: 2px solid #fff;
    
}

.personal .ecommerce::after{
    content: "";
    position: absolute;
    bottom: 22.9rem;
    right: 16.1rem;
    width: 300px;
    border-top: 2px solid #fff;
    transform: rotate(60deg);   
}

.tv{
    position: absolute;
    top: 4rem;
    left: 22rem;
}
.tv img{
    width: 50%;
}

.fasolid{
    text-align: center;
}
.fasolid a{
    text-decoration: none;
    width: 100px;
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem 0rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
}

.fasolid a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #000;
    transition: all 1s ease;
    z-index: -1;
}

.fasolid a:hover::before{
    left: 0;
}

.fasolid a:hover{
    color: #fff;
}

#howwork{
    margin: 5rem 1rem;
}

.main{
    position: relative;

}

.steps::before{
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 50px;
    border-top: 2px solid #000;
}

.sport{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sport a{
    text-decoration: none;
    color: #000;
}